<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.motoserviceapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotoServiceAPP">
        <activity android:name=".Ratings">

        </activity>
        <activity android:name=".MakeBooking"></activity>
        <activity android:name=".BikeDetails" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".Description">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration_Details" />
        <activity android:name=".Register_Activity" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".View_Approved_Bookings">

        </activity>
        <activity android:name=".splash_screen" >

        </activity>
        <activity android:name=".add_Services" />
        <activity android:name=".Service_Details_Tab">

        </activity>
    </application>

</manifest>